///  color
$color-green-header: hsl(127, 8%, 23%);
$color-green-header-rgba:rgba(54, 63, 55, 0.97);
$color-tan-title: hsl(29, 66%, 87%);
$color-tan-title-2: hsl(29, 67%, 87%);
$color-white: hsl(0, 0%, 100%);
$color-box: hsl(29, 39%, 43%);
$color-black:#000;
$color-f7:hsl(0, 0%, 97%);
$color-green-drak:hsl(126, 8%, 23%);

//// spacing
$spacing-top: 11rem;